{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Contact index</h1>

    <table class="table table striped">
        <thead>
            <tr>
                <th width="30">Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th width="100">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}" class="btn btn-outline-primary">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="text-center"><a href="{{ path('app_contact_new') }}" class="btn btn-success">Create new</a></p>
{% endblock %}
